@use 'reset';
@use 'mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

// styles

body {
  font-family: 'Space Grotesk', sans-serif;
  display: grid;
  place-items: center;
  background-image: url('public/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: 100% 35%;
  @include mq(medium) {
    background-image: url('public/bg-main-desktop.png');
    background-size: 32% 100%;
  }
}
small {
  color: rgb(245, 18, 18);
  font-size: 0.8em;
  display: block;
  height: 2ch;
}
%button {
  padding: 0.7em;
  border-radius: 0.5em;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(278, 68%, 11%);
  cursor: pointer;
}
.wrapper {
  width: clamp(320px, 90vw, 1100px);
  margin-inline: auto;
}
.container {
  display: grid;
  gap: 3em;
  grid-template-columns: 1fr;
  width: min(100%, 370px);
  margin-inline: auto;
  @include mq(medium) {
    gap: 6em;
    grid-template-columns: 1fr 1fr;
    width: auto;
  }
  &__cards {
    // align-self: center; //proviene del grid
    display: flex;
    flex-direction: column-reverse;
    @include mq(medium) {
      flex-direction: column;
      gap: 2em;
    }
  }
  &__form {
    @include mq(medium) {
      align-self: center;
      padding-inline: 3em;
    }
  }
  &__send {
    display: flex;
    flex-flow: column;
    gap: 3em;
    display: none;
    @include mq(medium) {
      align-self: center;
      padding-inline: 3em;
    }
  }
}

.card-front {
  color: hsl(0, 0%, 100%);
  position: relative;
  margin-top: -4rem;
  z-index: 1;
  width: clamp(10rem, 80%, 25rem);
  @include mq(medium) {
    margin-top: 0;
  }
  &__info {
    padding: 1em;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__number {
    margin-bottom: 0.5em;
    font-size: 1.2rem;
    @include mq(medium) {
      font-size: 1.8rem;
    }
  }
  &__date {
    display: flex;
    justify-content: space-between;
  }
}
.card-back {
  color: hsl(0, 0%, 100%);
  align-self: flex-end;
  position: relative;
  width: clamp(10rem, 80%, 25rem);

  &__number {
    padding: 3em;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
.form {
  display: flex;
  flex-flow: column;
  gap: 1em;
  label {
    display: block;
    padding-bottom: 0.4em;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
  }
  &__input {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    outline: none;
    border: 1px solid hsl(270, 3%, 87%);
    &:focus {
      outline: 1px solid hsl(278, 68%, 11%);
    }
    &--error {
      outline: 1px solid rgb(245, 18, 18);
    }
  }
  &__submit {
    @extend %button;
  }
  &__box-three {
    display: flex;
    gap: 1em;
    div {
      flex-basis: 50%;
    }
  }
  &__date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5em;
    small {
      grid-column: 1 / -1;
    }
  }
}
.send {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1em;
  &__title {
    font-size: 1.8em;
  }
  &__text {
    color: hsl(279, 6%, 55%);
  }
}
.send-btn {
  @extend %button;
  width: 100%;
}
